Danny Lillard

2025.05.15

Using this file to test out downloading the yf data and manipulating it, the structure right now does not play well with ETL mass processing, or duck db. See sample below
vvv
Price	Close	High	Low	Open	Volume
Ticker	SO	SO	SO	SO	SO
Date					
1981-12-31	0.282410442829132	0.288294038879982	0.282410442829132	0.285352204115376	220985

We instead want
vvv
Date	Close	High	Low	Open	Volume
1981-12-31	0.282410442829132	0.288294038879982	0.282410442829132	0.285352204115376	220985

In [1]:
import pandas as pd
import yfinance as yf

df = yf.download('SO', period='1d')

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [2]:
df.head()

Price           Close       High        Low       Open   Volume
Ticker             SO         SO         SO         SO       SO
Date
2025-05-15  86.513802  86.910004  85.605003  85.605003  2216674

In [5]:
df1 = df.copy()

In [6]:
df1.head()

Price           Close       High        Low       Open   Volume
Ticker             SO         SO         SO         SO       SO
Date
2025-05-15  86.513802  86.910004  85.605003  85.605003  2216674

In [12]:
df1.columns = ['Close','High','Low','Open','Volume']

In [13]:
df1.head()

                Close       High        Low       Open   Volume
Date
2025-05-15  86.513802  86.910004  85.605003  85.605003  2216674

In [14]:
df1.columns

Index(['Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [15]:
df1.to_csv('C:\\file_struct\\documents\\programming\\data\\airflow_financial_project\\hist\\so_test.csv')